<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Hibernate, Relational Persistence for Idiomatic Java
  ~
  ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later.
  ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->

<!-- Hibernate file-based configuration document.

<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

An instance of this document contains property settings and references
to mapping files for a number of SessionFactory instances to be listed
in JNDI.

-->
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!--第一部分，配置数据库信息 必须的-->
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql:///sample_hibernate?useUnicode=true&amp;characterEncoding=UTF8</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>

    <!--第二部分，配置hibernate信息 可选的-->
    <!--输出底层sql-->
    <property name="hibernate.show_sql">true</property>
    <!--输出底层sql语句格式-->
    <property name="hibernate.format_sql">true</property>
    <!--hibernate帮创建表,需要配置之后
      update:如果已经有表，更新，如果没有，创建
    -->
    <property name="hibernate.hbm2ddl.auto">update</property>
    <!--配置数据库方言
      在mysql里面实现分页 关键字limit, 只能使用mysql里面
      在oracle数据库，实现分页rownum
      让hibernate框架识别不同数据库的的自己的特有语句
    -->
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

    <!-- 配置session绑定本地线程 -->
    <property name="hibernate.current_session_context_class">thread</property>


    <!--第三部分，把映射文件放到核心配置文件中 必须的-->
    <mapping resource="User.hbm.xml"/>
    <mapping resource="Customer.hbm.xml"/>
    <mapping resource="LinkMan.hbm.xml"/>

  </session-factory>
</hibernate-configuration>